.container{
    text-align: center;
    border-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-right: 3%;
    margin-left: 3%;
    width: 95%;
}