.container {
    border: 1px solid black;
    max-width: 400px;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0rem;
    text-align: center;
}



.normal{
    background-color: #A8A77A;
  }
  .fighting{
    background-color: #C22E28;
  }
  .flying{
    background-color: #A98FF3;
  }
  .poison{
    background-color: #A33EA1 ;
  }
  .ground{
    background-color: #E2BF65;
  }
  .fire {
    background-color: #EE8130; /* Naranja para tipo fuego */
  }
  .rock{
    background-color: #B6A136;
  }
  .bug{
    background-color: #A6B91A ;
  }
  .ghost{
    background-color: #735797;
  }
  .steel{
    background-color: #B7B7CE;
  }
  .water {
    background-color: #6390F0; /* Azul claro para tipo agua */
  }
  .grass {
    background-color: #7AC74C; /* Verde para tipo planta */
  }  
  .electric {
    background-color: #F7D02C; /* Amarillo dorado para tipo eléctrico */
  }
  .psychic{
    background-color: #F95587;
  }
  .bug{
    background-color: #48ab3c ;
  }
  .ice{
    background-color: #96D9D6;
  }
  .dragon{
    background-color: #6F35FC;
  }
  .dark{
    background-color: #705746;
  }
  .fairy{
    background-color: #D685AD;
  }
  .unknown{
    background-color: #68A090;
  }
  .shadow{
    background-color: #463A4D ;
  }

  .imagen{
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0 auto;
    background-color: rgb(47, 79, 79, 0.3);
    padding: .01rem;
    width: 15rem;
    height: auto;
  }

  p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
  }